@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  padding: 20px;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #616061;
}

.hide {
  display: none;
}

.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}

footer {
  text-align: center;
}

@media screen and (min-width: 700px) {
  nav {
    flex-direction: row;
    justify-content: flex-end;
  }

  .menu-btn {
    display: none;
  }

  nav {
    display: flex;
  }
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
