body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px ;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #1875c1;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
    margin-bottom: 10px;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.logo {
    display: block;
    position: fixed;
    left: 50%;
    margin-bottom: 20px ;
    max-width: 200px;
}

.logo-dark {
    display: none;
}

body.dark .logo-light {
    display: none;
}

body.dark .logo-dark {
    display: block;
}

body.dark {
    background-color: #333;
    color: #ffffff;
}

body.dark .container {
    background-color: #444;
}

body.dark h1 {
    color: #4da3ff;
}
